<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>Videographr</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Videographr nutzt die Kamera für Live-Vorschau und Echtzeit-Hinweise zur Kameraposition bei Unterrichtsvideographien.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Videographr schützt lokale Unterrichtsvideos, Reflexionen, Export und Löschung durch Geräteauthentifizierung.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Videographr nutzt das Mikrofon für Pegelkontrolle und kontinuierliche Aufnahme (ggf. mit externen Audiogeräten).</string>
	<key>NSMotionUsageDescription</key>
	<string>Videographr nutzt Lage- und Gyroskopdaten für Hinweise zu Kameraneigung und Aufnahmestabilität.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSerif4Display-Semibold.otf</string>
		<string>SourceSerif4Subhead-Semibold.otf</string>
		<string>SourceSerif4SmText-Regular.otf</string>
		<string>SourceSerif4SmText-It.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Videographr Study Package</string>
			<key>UTTypeIdentifier</key>
			<string>de.videographr.study</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>videographrstudy</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
